
.Color-drops-1-hex {
    color: #403bd9;
}
.Color-drops-2-hex {
    color: #0511f2;
}
.Color-drops-3-hex {
    color: #565bbf;
}
.Color-drops-4-hex {
    color: #f2e52e;
}
.Color-drops-5-hex {
    color: #bfb745;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}
body {
    background-image: url(../Asset/Untitled-1.png);
    margin: 0;
}

.faqbody {
    background-image: url(../Asset/Untitled-1-darker.png);
}


.header {
    background: transparent;
    width: 100%;
    z-index: 3;
  }

  #active{
    border-bottom: 1px solid #f2e52e;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: transparent;
  }
  
  .header li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  
.header li a:hover,
.header .menu-btn:hover {
    border-bottom: 1px solid #f2e52e;
    border-width: initial;
  }
  
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Monoton", cursive;
    font-weight: lighter;
    font-size: 2.5em;
    font-style: italic;
    color: white;
  }
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  

hr {
    margin-top: 20px;
}



#mainpage {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#mainpagefaq {
  height: 100%;
  width: 100%;
  display: inline-block;
}
p {
  color: white;
  padding: 20px;
  width: 50%;
}

h2 {
    display: inline-block;
    color: white;
    padding: 15px;
    font-size: 36px;
}

h3 {
  color: white;
  padding: 20px 0 0 20px;
}

h3 span {    
    height: 100%;
    width: 100%;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    border-bottom: 1px solid #f2e52e;
    padding-bottom: 15px;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: beige;
    border-radius: 25px;
    overflow: hidden;
}

.button-box {
    top: 25px;
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 25px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #bfb745;
    border-radius: 25px;
    transition: 0.5s;
}

#greeting {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.input-group {
    top: 125px;
    left: auto;
    position: absolute;
    width: auto;
    transition: 0.5s;
    padding-left: 10px;
}

.input-field {
    width: 85%;
    padding: 10px 20px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #bfb745;
    background: transparent;
    overflow: hidden;
}

.submit-btn {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: #bfb745;
    border: 0;
    border-radius: 25px;
}

.check-box {
    margin: 20px 10px;
}

#register {
    left: 450px;
}

table {
    margin: 80px auto;
    float: left;
    padding: 0 30px 0 30px;
    width: 100%;
}

caption {
    font-size: 20px;
    font-weight: 400;
    color: white;
    left: 0;
}

thead th {
    background: #35d380;
    color: #fff;
    font-weight: bold;
}

tr {
    background: #f9f9f9;
}

tr:nth-child(2n) {
    background: #e0e0e0;
}

th,
td {
    text-align: left;
    padding: 20px;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 12px 2px;
    font-style: italic;
    color: #8a97a0;
}

.moreAccountDetails {
    padding: 0 0 0 30px;
    margin: 50px 0 0 0;
}

.moreAccountDetails span {
    color: white;
    font: inherit;
    font-size: 20px;
}

.moreAccountDetails input {
    display: block;
    height: 30px;
    width: 25%;
    margin: 20px 0 0 0px;
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid #bfb745;
    background: beige;
    padding: 5px;
}

.moreAccountDetails button {
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 25px;
    transition: 0.5s;
    position: auto;
    background-color: #35d380;
    color: white;
    margin: 20px 0 0 0px;
}

.moreAccountDetails h3 {
    color: white;
    margin-bottom: 20px;
}

.moreAccountDetails h4 {
    color: white;
    margin: 20px 0;
}

.moreAccountDetails select {
    display: block;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;
}

.panel {
    padding: 30px 0 0 30px;
    margin: 50px 0 0 0;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: beige;
    border-radius: 25px;
    overflow: hidden;

    
}

.panel select {
    width: auto;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;
}

.panel h4 {
    margin: 20px 0 10px 0;
    color: darkslategrey;
}

.panel input {
    display: block;
    margin: 20px 0;
    height: 30px;
    width: 85%;
    padding: 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #bfb745;
    background: transparent;
}

.panel button {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    transition: 0.5s;
    position: auto;
    background-color: #bfb745;
    margin: 20px 0 0 0px;
    border: none;
}

#deactivatebtn {
    background-color: red;
}

.userAccounts {
    width: 100%;
}

.userAccounts table {
    margin: 80px auto;
    float: left;
    padding: 0 30px 0 30px;
    width: 100%;
}

.accountbalance {
  height: 100%;
  display: inline-block;
  padding-top: auto;
}
