/* Color Theme Swatches in Hex */
.Color-drops-1-hex {
    color: #403bd9;
}
.Color-drops-2-hex {
    color: #0511f2;
}
.Color-drops-3-hex {
    color: #565bbf;
}
.Color-drops-4-hex {
    color: #f2e52e;
}
.Color-drops-5-hex {
    color: #bfb745;
}

/*
    font-family: 'Monoton', cursive;
    font-family: 'Playfair Display', serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}
body {
    background-color: #565bbf;
}

hr {
    margin-top: 20px;
}
#mainpage {
    height: 100%;
    width: 100%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.main-nav li.active a {
    border-bottom: 1px solid #f2e52e;
}

.main-nav li a:hover {
    border-bottom: 1px solid #f2e52e;
    border-width: initial;
}

.main-nav span {
    color: white;
    font-size: 20px;
    padding-right: 10px;
}

.row {
    margin: auto;
    max-width: 1200px;
}

h1 {
    font-family: "Monoton", cursive;
    font-weight: lighter;
    font-size: 40px;
    font-style: italic;
    color: white;
    padding: 15px;
}

h2 {
    color: white;
    padding: 15px;
    font-size: 36px;
}

h3 span {
    color: white;
    font-size: 24px;
    margin: 35px 0 0 35px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    border-bottom: 1px solid #f2e52e;
    padding-bottom: 15px;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: beige;
    border-radius: 25px;
    overflow: hidden;
}

.button-box {
    top: 25px;
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 25px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #bfb745;
    border-radius: 25px;
    transition: 0.5s;
}

.input-group {
    top: 125px;
    left: auto;
    position: absolute;
    width: auto;
    transition: 0.5s;
    padding-left: 10px;
}

.input-field {
    width: 80%;
    padding: 10px 20px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #bfb745;
    background: transparent;
}

.submit-btn {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: #bfb745;
    border: 0;
    border-radius: 25px;
}

.check-box {
    margin: 20px 10px;
}

span {
    font-size: 12px;
    bottom: 68px;
    position: auto;
}

#register {
    left: 450px;
}

table {
    margin: 80px auto;
    float: left;
    padding: 0 30px 0 30px;
    width: 100%;
}

caption {
    font-size: 20px;
    font-weight: 400;
    color: white;
    left: 0;
}

thead th {
    background: #35d380;
    color: #fff;
    font-weight: bold;
}

tr {
    background: #f9f9f9;
}

tr:nth-child(2n) {
    background: #e0e0e0;
}

th,
td {
    text-align: left;
    padding: 20px;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 12px 2px;
    font-style: italic;
    color: #8a97a0;
}

.moreAccountDetails {
    padding: 0 0 0 30px;
    margin: 50px 0 0 0;
}

.moreAccountDetails span {
    color: white;
    font: inherit;
    font-size: 20px;
}

.moreAccountDetails input {
    display: block;
    height: 30px;
    width: 25%;
    margin: 20px 0 0 0px;
    border-radius: 10px;
    border-bottom: 1px solid #bfb745;
    background: white;
    padding: 5px;
}

.moreAccountDetails button {
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 25px;
    transition: 0.5s;
    position: auto;
    background-color: #35d380;
    color: white;
    margin: 20px 0 0 0px;
}

.moreAccountDetails h3 {
    color: white;
    margin-bottom: 20px;
}

.moreAccountDetails h4 {
    color: white;
    margin: 20px 0;
}

.moreAccountDetails select {
    display: block;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f2e52e;
    margin: 0 0 20px 0;
}

.panel {
    padding: 0 0 0 30px;
    margin: 50px 0 0 0;
}

.panel select {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f2e52e;
    margin: 0 0 20px 0;
}

.panel h4 {
    color: white;
    margin: 20px 0 10px 0;
}

.panel input {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0;
    height: 30px;
    width: 25%;
    padding: 10px;
}

.panel button {
    width: auto;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.5s;
    position: auto;
    background-color: #35d380;
    color: white;
    margin: 20px 0 0 0px;
    border: none;
}

#deactivatebtn {
    background-color: red;
}

.userAccounts {
    width: 100%;
}

.userAccounts table {
    margin: 80px auto;
    float: left;
    padding: 0 30px 0 30px;
    width: 100%;
}
